<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Add Student</h1><br>
    <a href="./"> Show all data</a>

    <form action="" method="post">
        <br><label >First name :</label><br>
        <input type="text" name="first_name" required autofocus><br>

        <label >Last name :</label><br>
        <input type="text" name="last_name" required><br>

        <label >Email :</label><br>
        <input type="text" name="email" required><br><br>
        
        <label for="">Gender</label><br>
        <input type="radio" name="gender" value="male"> Male<br>
        <input type="radio" name="gender" value="female"> Female<br><br>

        <label >Birth Date :</label><br>
        <input type="text" name="birth_date" placeholder="Ex : 15 Februari 1990" required><br><br>

        <button type="submit">Submit</button> <button type="reset">Reset</button>
    </form>
</body>

</html>